<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>

<div th:replace="nav :: navbar">
    Static Header
</div>

<h1>Sign Up</h1>
<form action="#" th:action="@{/users}" th:object="${newUser}" method="post">

    <div>
        <input placeholder="Name" type="text" id="user-name" th:field="*{name}" required >
        <input placeholder="Username" type="text" id="user-username" th:field="*{username}" required >
        <input placeholder="Email" type="text" id="user-email" th:field="*{email}" required >
        <input placeholder="Password" type="text" id="user-password" th:field="*{password}" required >
        <input placeholder="Password Confirmation" type="text" id="user-password-confirmation" required >

        <input type="submit" id="user-form-submit" value="Post" >
    </div>

</form>

</body>
</html>
